numpy==2.3.5
pillow==12.1.0
scipy==1.17.0
scikit-learn==1.8.0
torch==2.9.1
torchvision==0.24.1
matplotlib==3.10.8
seaborn==0.13.2
ipython==9.9.0
jupyterlab==4.5.2
ipympl==0.9.8
nbformat==5.10.4
tqdm==4.67.1
wakepy==0.10.2.post1
umap-learn==0.5.11
opencv-python==4.12.0.88
scikit-image==0.26.0
imageio==2.37.2
